<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Wiki Wiki 待辦事項</title>
  <link rel="stylesheet" href="../common/theme.css">
  <link rel="stylesheet" href="todo.css">
</head>
<body>
  <div class="header">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <h1 style="margin: 0;"><i class="theme-icon icon-todo"></i> 待辦事項小秘書</h1>
      <button id="btn-open-add" class="add-header-btn"><i class="theme-icon icon-add"></i> 新增</button>
    </div>
    <p style="margin-top: 4px;">記下該做的事，還能串聯提醒喔！</p>
  </div>

  <div id="todo-list">
    <!-- Todos will be generated here -->
  </div>

  <!-- 底部精緻草地花邊裝飾 -->
  <div class="bottom-grass-accent"></div>

  <script src="todo.js"></script>
</body>
</html>
